@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
}

.portal {
	width: 100%;
	float: left;
}

.portal-content {
    margin-left: 250px;
}

.sidebar {
	background: #67839f;
    min-height: 100%;
    width: 250px;
    padding: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    color: white;
}

.sidebar-title {
	width: 100%;
	text-align: center;
	background-color: #5f7286;
	color: white;
	line-height: 70px;
	height: 70px;
}

.topbar {
	background: white;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #f1f1f1;
}

.topbar_left {
    width: 60%;
    float: left;
    height: inherit;
}

.topbar-left-inputbox {
	width: 100%;
    float: left;
}

.topbar-left-inputbox input[type="text"] {
    margin-right: 1px;
    height: 69px;
    border: none;
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 1.1em;
}

.topbar-left-inputbox button svg {
	margin-top: 25px;
    margin-left: 20px;
    font-size: 20px;
    color: #7e7e7e;
    cursor: pointer;
}

.topbar-left-inputbox button {
    height: 35px;
    float: left;
    border: none;
    width: 50px;
    outline: none;
    background: none;
}

.topbar_right {
    float: right;
    border-left: 1px solid #f1f1f1;
    height: inherit;
    width: auto;
}

.menubar {
	width: 100%;
    height: 80px;
    border-bottom: 1px solid #d0d0d0;
    padding-left: 20px;
    padding-top: 6px;
    background-color: #f2f2f2;
    border-top: 1px solid #d0d0d0;
}

.menubar-option {
	width: 160px;
	text-align: center;
	float: left;
	cursor: pointer;
	padding: 5px;
	border: 1px solid transparent;
}

.menubar-option:hover {
	border: 1px solid silver;
	background-color: lightgreen;
	opacity: 0.9;
}

.menubar-option:not(:last-child) {
	margin-right: 10px;
}

.menubar-option img {
	width: 32px;
}

.menubar-option-text {
	font-size: 0.9em;
}